{% extends 'base.html' %}

{% block title %}About Me{% endblock %}

{% block content %}
    <h1>About This Site</h1>
    <p>This is the about page, beautifully served through our master skeleton layout!</p>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>
    <h1>About This Site</h1>
    <p>This is the about page, successfully served by Flask!</p>
    
    Your new link back to the homepage
    <a href="{{ url_for('home') }}">Back to the homepage we go</a>
</body>
</html> -->